header {
    border-bottom: 1px solid #ececec;

    &-header {
        display: flex;
        align-items: center;
    }

    &-nav {
        display: flex;
        align-items: center;
    }
}

.logo-header {
    color: $black-color;
    margin-right: 93px;
}

.page-header {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}


.site-nav {
    flex-wrap: wrap;
    display: flex;

    & .item:not(:last-child) {
        margin-right: 50px;
    }

    & .link {
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
        color: $primary-title-color;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .current {
        position: relative;
        color: $accept-color;
    }

    & .current::after {
        position: absolute;
        bottom: -1px;
        display: block;
        content: ' ';
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background: $accept-color;
    }

    & .link:hover,
    & .link:focus {
        color: $accept-color;
    }
}




.contacts {
    display: flex;
    margin-left: auto;

    & .item+.item {
        margin-left: 30px;
    }

    & .link {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
        color: #757575;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .link:hover,
    & .link:focus {
        color: $accept-color;
    }

    &-icon {
        margin-right: 10px;
        fill: currentColor;

        &.envelope {
            width: 16px;
            height: 12px;
        }

        &.smartphone {
            width: 10px;
            height: 16px;
        }
    }

}



